<% provide :title, (t "static_pages.home.contact") %>
<h1><%= t "static_pages.home.contact" %></h1>
<p>
  <%= t "static_pages.contact_app" %>
  <a href= <%= t "static_pages.url.contact"%> >
    <%= t "static_pages.contact_pa" %></a>.
</p>
