<% provide :title, (t "static_pages.home.home") %>
<h1>Sample App</h1>
<p>
  <%= t "static_pages.home_page" %>
  <a href= <%= t "static_pages.url.rails" %> ><%= t "static_pages.home.tit" %>
    </a>
  <%= t "static_pages.sample" %>
</p>
